#page {
    padding-top: 50px;
}
#spec-form-modal {
    margin: 0px;
}
.modal-body {
    max-height: none !important;
}
#spec-modal-holder .modal-body {
  min-height: 550px;   
}
#spec-modal-holder .short{
  min-height: 300px;   
}
.row-red {
    color: red;
}
.row-green {
    color: green;
}
.modal.fade.in {
    top: 5% !important;
}
.row-reset {
    color: blue;
}
.row-goldenrod{
    color: goldenrod;
}
.select2-container.span12 {
    margin-left: 0px !important;
}
.line-radio .radio {
    float: left;
    margin: 6px 20px 5px 0px;
}