#page {
    padding-top: 50px;
}
#spec-form-modal {
    margin: 0px;
}
#spec-modal-holder .modal-body {
  min-height: 550px;   
}
#spec-modal-holder .short{
  min-height: 450px;   
}
.row-green {
    color: green;
}
.modal.fade.in {
    top: 5% !important;
}
.row-reset {
    color: blue;
}