html body{margin:0;padding:0;font-family:verdana,arial,sans-serif;text-align:center;background:#eee}
a,a:hover{border:none}
a{text-decoration:none;font-weight:bold}
a:hover{text-decoration:underline}
#pa{text-align:left;margin:0 auto 1.2em auto;width:58em}
#h{width:100%}
#tt{height:2em;width:100%;background:transparent;position:relative}
#ws{float:left;font-size:0.7em;position:relative;color:#124}
#ws span{margin:0 .5em 0 .5em;cursor:pointer}
.selected,#branch1 a,#branch1 a:hover,#branch a,#branch a:hover,#branch2 a,#branch2 a:hover{font-weight:bold}
#sb{padding:0;margin:0 0 0 2em;width:10em;height:1.4em;float:right}
a,#sb .inputbox,#sb .button{color:#124}
#sb .inputbox,#sb .button{font-size:0.7em;background:transparent;border:none}
#sb .inputbox{margin:0;padding:0.2em 0 0 1em;width:12em;height:1.2em;vertical-align:top}
#sb .button{margin:0;padding:0;height:0.95em;line-height:0.7em}
#sb form{margin:0;padding:0}
.button,.inputbox{border:1px solid #BBB}
#tl{padding:0 0 0 1.3em;height:5.6em;width:36em;background:transparent;float:left}
h1{margin:0.4em 0 0.2em 0;font-size:1.7em}
#d{margin:0;font-size:0.8em;font-weight:bold;color:#000}
#h a,#h a:link,#h a:visited,#h a:active,#h a:hover{text-decoration:none}
#pm{position:relative;margin-top:0.6em}
#mc{width:10em;float:left;position:absolute;top:1em;left:0;z-index:1}
#mc ul{list-style-type:none;color:#124;padding:0;margin:0}
#mc li{padding:0;margin:0.1em 0 0 0;display:inline}
#mc ul li a,#mc ul li p{margin:0.2em 0 0.2em 0;padding:0.3em 1em 0.3em 1em;display:block;font-weight:normal;line-height:1.6em;font-size:0.7em;text-decoration:none}
#mc h2{margin:0 1em 0.3em 0.6em;padding:0.5em 0 0 0;color:#124;font-size:0.9em;border-bottom:1px solid #124}
#mc .powered{text-align:center}
#mc .powered img{border:none;vertical-align:top;padding:0 0 0 0.3em}
#mc .powered a{display:block;font-size:0.6em;padding:0.5em;text-align:center;line-height:1.5em}
#mc .powered a:hover{border:none;background:none}
.menu_home #menu_home,.menu_curr_year #menu_curr_year,.menu_that_year #menu_that_year,.menu_2012 #menu_2012,.menu_2011 #menu_2011,.menu_2010 #menu_2010,.menu_2009 #menu_2009,.menu_2008 #menu_2008,.menu_other_years #menu_other_years,.menu_help #menu_help,.menu_faq #menu_faq,.module a:hover{background:#EEE;text-decoration:none;border-right:4px solid #8AD}
.module{margin-bottom:1em}
#c{font-size:0.7em;line-height:1.6em;position:relative;margin-left:12em}
#c h2,#c h3,#c h4,#c h5{color:#124;font-weight:bold}
#c h2,#c h3{padding-right:1em;padding-bottom:0.1em}
#c h2{font-size:1.4em;display:inline;border-bottom:1px solid #124}
#c h3{font-size:1.2em;margin:2em 0 1em 0;clear:both}
#c h4{font-size:1em;margin:0;padding:0}
#c h5{font-size:0.9em;margin:0.8em 0 0 0;padding:0}
#c h6{color:#888;margin:0.4em 0 0 0;padding:0;font-weight:normal;font-size:0.9em}
#c ul{margin:0.3em 0 1em 1.5em;padding:0 0 0 2em}
#c img{border:none}
#c .image-inline{font-size:1em;float:right;margin:1em 0 1em 1em;border:none;clear:right}
.link-list li{margin:1em 0 1em 0}
#branch{margin:1em 0 1em 0;width:20em}
#branch img{border:none;vertical-align:middle;margin-right:0.8em;float:left}
#branch a,#branch a:hover,#branch2 a,#branch2 a:hover,#branch #l{line-height:1.2em;display:block;vertical-align:middle}
#branch a,#branch a:hover,#branch #l{padding:0.6em 1em 0.5em 1em}
#branch2 a,#branch2 a:hover{padding:0.6em 1em 0.5em 0}
#branch a,#branch1 a,#branch2 a{text-decoration:none}
#branch a:hover,#branch1 a:hover,#branch2 a:hover{text-decoration:underline;color:#900}
#c table{font-size:0.8em}
#c td.tabletitle{font-weight:bold;padding-right:2em}
#f{font-size:0.6em;color:#888;text-align:center;padding:0 0 1em 0}
/*all box*/
.cb{}
/*top&btm corners&border*/
.bt,.bt div,.bb,.bb div{background-repeat:no-repeat;position:relative}
.bt,.bt div{height:4px}
.bb,.bb div{height:7px}
.bt,.bb{margin:0 0 0 6px;font-size:0px}
.bt{background-position:100% 0}
.bb{background-position:100% 100%}
.bt div,.bb div{width:6px;left:-6px}
.bt div{background-position:0 0}
.bb div{background-position:0 100%}
/*left&right border*/
.i1,.i2{background-repeat:repeat-y;background-position:100% 0}
.i1,.i3{padding:0}
.i2{padding:0 4px 0 0}
/*all box end*/
#topmenu{padding:0;margin:0;float:right}
#topmenu a{display:block}
/*top-btm*/
/*wrap4vmist,use2set bgcolor & ins padding mizh border&content*/
#tb .i3{background:#8BADE1;display:block;height:5.3em}
#tb .i1{border-left:solid 1px #AAC}
/*top-bottom end,content*/
#ca{margin-left:0;margin-right:0.1em}
#ca .bt,#ca .bt div,#ca .bb,#ca .bb div{background:#fff}
/*wrap4vmist,use2set bgcolor & ins padding mizh border&content*/
#ca .i3{display:block;background:#fff;padding:1em 1em 1em 3em}
#ca .i2{padding:0}
/*content end,search,module,branch*/
#branch .bt,#branch .bt div,#branch .bb,#branch .bb div,#topmenu .bb,#topmenu .bb div,.topmenubb,.topmenubb div{background:#A7EF8E}
/*wrap4vmist,use2set bgcolor & ins padding mizh border&content*/
#branch .i3{background:#A7EF8E;display:block;padding:0}
#topmenu .i3,.topmenui3{background:#A7EF8E;display:block;text-align:center;font-size:0.7em}
#sb .i3,.mm{display:block;padding:0 0 0.2em 0}
#branch .i2{background:#A7EF8E;padding-right:4px;border:none}
#sb .i2,.mr,#topmenu .i2,.topmenui2{background:#ddd;border:solid 1px #c00}
/*search,module,branch end*/
table.stat{margin:5px 0 0 42px}
span.legend{margin:0 0 0 42px}